# {{ ansible_managed }}
# {{ item.key }}
{{ item.value.cron }}  /usr/local/bin/ec2snap {% if item.value.tags %}{% for key, value in item.value.tags.iteritems()  %} -t {{ key }} '{{ value }}'{% endfor %}{% endif %}{% if item.value.instances %}{% for instance in item.value.instances  %} -i {{ instance }}{% endfor %}{% endif %}{% if not item.value.dry_run %} -u {% endif %}{% if item.value.autoscaling_limit %} -l {{ item.value.autoscaling_limit }}{% endif %}{% if not item.value.root_device %} -o {% endif %}{% if item.value.delete_only %} -n {% endif %}{% if item.value.retention %} -g {{ item.value.retention['number'] }} {{ item.value.retention['type'] }}{% endif %} -r {{ item.value.region }} {{ -c {{ backup_credentials_file }}